body{
    text-align: center;
    background-color: black;
}
h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: center;
}
a{
    color: aquamarine;
    font-size: 16px;
}
video{
    background-color: black;
    text-align: center;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: grey;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
}
footer{
    text-align: right;
    color: grey;
}